<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Test</title>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Socket.IO Conversation Test</h1>
    <input type="text" id="conversationId" placeholder="Enter Conversation ID">
    <button onclick="joinConversation()">Join Conversation</button>
    <button onclick="leaveConversation()">Leave Conversation</button>
    <br><br>
    <input type="text" id="question" placeholder="Ask a Question">
    <button onclick="askQuestion()">Ask</button>
    <div id="responses"></div>

    <script>


        var socket = io.connect('https://' + document.domain + ':' + location.port + '/conversation', {
        transports: ['websocket']
        });

        socket.on('connect', () => {
            console.log('Connected to server');
        });


        function joinConversation() {
            const conversationId = document.getElementById('conversationId').value;
            socket.emit('join_conversation', { conversation_id: conversationId });
        }


        socket.on('joined_conversation', (data) => {
            console.log("Data in")
            data.status
            data.conversation_id
            const responseDiv = document.getElementById('responses');
            responseDiv.innerHTML += `<p>Answer: ${data.answer}</p>`;
        });


        function askQuestion() {
            const conversationId = document.getElementById('conversationId').value;
            const question = document.getElementById('question').value;
            socket.emit('question', { conversation_id: conversationId, question: question });
        }

         socket.on('answer', (data) => {
            data.ai_output
            data.code
            console.log("Data in")
            const responseDiv = document.getElementById('responses');
            responseDiv.innerHTML += `<p>Answer: ${data.answer}</p>`;
        });

        socket.emit('disconnect', () => {
            console.log('Connected to server');
        });


    </script>
</body>
</html>
